<!doctype html>
<html>
<head>
  <title> Students List </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <section class="antialiased bg-gray-100 text-gray-600 h-screen px-4">
    <div class="flex flex-col justify-center h-full">
        <!-- Table -->
        <div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
            <header class="flex justify-between	 px-5 py-4 border-b border-gray-100">
                <h2 class="font-semibold text-gray-800">Students</h2>
                <div onclick="javascript:redirect('/create')" class="text-center font-medium text-green-500 cursor-pointer hover:text-blue-500">+</div>
            </header>
            <div class="p-3">
                <div class="overflow-x-auto">
                    <table class="table-auto w-full">
                        <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
                            <tr>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Email</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Activate?</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                    <div class="font-semibold text-left">Cheater?</div>
                                </th>
                                <th class="p-2 whitespace-nowrap">
                                  <div class="font-semibold text-center">Action</div>
                              </th>
                            </tr>
                        </thead>
                        <tbody class="text-sm divide-y divide-gray-100">
                          {%- for student in students %}
                            <tr>
                              <td class="p-2 whitespace-nowrap">
                                  <div class="text-left">{{ student.email }}</div>
                              </td>
                              <td class="p-2 whitespace-nowrap">
                                  <div class="text-left font-medium text-green-500">{{ student.is_active }}</div>
                              </td>
                              <td class="p-2 whitespace-nowrap">
                                  <div class="text-left font-medium text-green-500">{{ student.is_cheater }}</div>
                              </td>
                              <td class="p-2 whitespace-nowrap">
                                <div onclick="javascript:redirect('/edit?student_id={{ student.id }}')" class="text-center font-medium text-green-500 cursor-pointer hover:text-blue-500">Edit</div>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
  const redirect=(link)=>{
    window.location.href = link;
  }
</script>
</body>
</html>